<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Balatro Sticker Tracker</title>
</head>

<body>
    <header>
        <h1>Balatro Sticker Tracker</h1>
    </header>
    <main id="app">
        <div v-if="loaded">
            <details v-for="stake in stakes.reverse()">
                <summary>{{stake.name}} ({{stake.jokers.length}})</summary>
                <div class="jokerContainer">
                    <span v-for="joker in stake.jokers" class="joker" :style="jokerStyle(joker)"></span>
                </div>
            </details>
        </div>

        <div class="notice">
            <h4 style="margin-top: 0">Select your save file</h4>
            <input type="file" @change="loadFile">
            <p v-if="error" style="color: red">{{error}}</p>
            <p>
                <b>Mac</b>: ~/Library/Application Support/Balatro/1/profile.jkr<br>
                <b>Windows</b>: %appdata%/Balatro/1/profile.jkr
            </p>
        </div>
    </main>


    <script src="scripts/pako.js"></script>
    <script src="scripts/jokers.js"></script>
    <script src="scripts/app.js"></script>
</body>

</html>